nav {
    h1 {
        margin: 0 50px;
    }

    h1, a {
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    background-color: #1F120A;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 10px;
    align-items: center;
}